    /*-------General Body Styles------*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Alice', serif;
    line-height: 1.5;
    background-color: #fcf9f7;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}


/*----------Mobile Body Styles---------*/

.main-nav {
    display: block;
    text-align: center;
    padding: 10px;
}

.main-nav li {
    background: #fff;
    margin-top: 5px;
    padding: 5px;
}

.profile-image {
    max-width: 60%;
    display: block;
    margin: 0 auto;
}

.portfolio {
    text-align: center;
    margin: 0 auto;
}
.portfolio-image {
    max-width: 90%;
    display: block;
    /*margin: 0 auto;*/
}

.body-head {
    margin: 0 auto;
    text-align: center;
    padding: 10px 15px;
    background: beige;
    border-bottom: solid 1px gainsboro
}

.body-head p {
    padding-left: 1em;
    padding-right: 1em;
}

.body-mid {
    text-align: center;
    font-family: Athiti, sans-serif; 
}

.body-mid h2 {
    margin-right: 25px;
}

.body-mid p {
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 20px;
}

#lower-page {
    background: beige;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.contact {
    text-align: center;
    display: block;
    padding: 0 1em 15px;
}

#main-footer {
    background: beige;
    border-top: solid 1px gainsboro;
}

.footer-name {
    display: inline-block;
    padding-left: 1em;
}

.to-top {
    float: right;
    padding-right: 1em;
}

.footer-name,
.to-top {
    margin-top: 10px;
}

.footer-nav {
    display: none;
}


/*---------Media Queries--------*/

@media (min-width: 768px) {
    .body-head {
        text-align: left;
        padding-bottom: 25px;
    }
    .body-head h1,
    .main-nav li {
        display: inline-block;
    }
    .main-nav {
        float: right;
    }
    .main-nav li {
        background: none;
    }
    .profile-image {
        max-width: 35%;
        float: right;
        margin: 0% 2% 0% 11%;
    }
    
    .portfolio {
        float: left;
        margin-left: 1%;
        margin-right: 20px;
    }

    .portfolio-image {
        max-width: 95%;
    }

    .portfolio li {
        max-width: 49.5%;
        display: inline-block;
        vertical-align: top;
        
    }
    .to-top {
        display: none;
    }
    .footer-nav {
        display: inline-block;
        float: right;
        margin-top: 10px;
        padding-right: 1em;
    }

    .footer-nav li {
        display: inline;
        margin-left: 15px;
    }
     p.contact {
         max-width: 60%;
         margin: 0 auto;
}
}
@media (min-width: 1024px) {
    .body-head {
        text-align: left;
        padding-bottom: 25px;
    }
    .body-head h1,
    .main-nav li {
        display: inline-block;
    }
    .main-nav {
        float: right;
    }
    .main-nav li {
        background: none;
    }
    .body-head p {
        width: 48%;
    }
    .profile-image {
        float: right;
        max-width: 35%;
        margin: 10% -21% 2% 0%;
    }
    .body-mid {
        margin: 0 auto;
    }
  
    .portfolio-image {
        max-width: 95%;
    }

    .portfolio {
        display: inline-block;
        margin-left: auto;
        margin-right: 30px;
    }

  .portfolio li {
      width: 33.33%;
      float: left;
      vertical-align: top;
  }

    p.contact {
      max-width: 48%;
      margin: 0 auto;
   }
}
    /*--------Clearfix----------*/
    .group:after {
        content: "";
        display: table;
        clear: both;
    }